---
import { render, getCollection } from "astro:content";
import MainPageWrapper from "../../layouts/MainPageWrapper.astro";
import Lightbox from "@/components/Lightbox.astro";
import Hero from "@/components/Hero.astro";
import Lede from "@/components/Lede.astro";

export async function getStaticPaths() {
  const bikes = await getCollection("bikes");
  return bikes.map((bike) => ({
    params: { slug: bike.id },
    props: { entry: bike },
  }));
}

const { entry } = Astro.props;

const galleryImages = entry.data.gallery ?? [];

const { Content } = await render(entry);
---

<MainPageWrapper title={`${entry.data.name} - Marteal Cycle Works`} description={entry.data.description}>
  <article class="bike-entry primary-layout ">
    {entry.data.cover && (
      <Hero
        image={entry.data.cover}
        title={entry.data.name}
        alt={`${entry.data.name} cover`}
      />
    )}

    {entry.data.lede && (
      <Lede>
        {entry.data.lede}
      </Lede>
    )}

    {entry.data.description && <p class="bike-description-intro">{entry.data.description}</p>}


    <!-- <section class="bike-meta">
      {
        entry.data.type && entry.data.type.length > 0 && (
          <p class="bike-type">Type: {entry.data.type.join(", ")}</p>
        )
      }
    </section> -->
    {
      galleryImages.length > 0 && (
        <Lightbox images={galleryImages} alt={entry.data.name} />
      )
    }

    <section class="bike-description narrow">
      
      <Content />
    </section>
  </article>
</MainPageWrapper>
