---
export const prerender = true;
// layout
import MainPageWrapper from "@/layouts/MainPageWrapper.astro";

//components
import { getEntry } from "astro:content";
import { render } from "astro:content";

// just the builds
// const bikes = await getCollection("bikes", (entry) => entry.data.type?.includes("Build"));

// const bikes = await getCollection("bikes");
// console.log(bikes);


// const greenman = await getEntry("bikes", "greenman");

// if (!greenman) {
//  return new Response("Not found", { status: 404 });
// }
// console.log(greenman);

// const { Content, headings } = await render(greenman);

const bike = await getEntry("bikes", "greenman");

if(!bike){
  return new Response(null, {
    status:404
  })
}
const { Content, headings } = await render(bike);

---

<MainPageWrapper title="Marteal Cycle Works">
  <!-- <Hero />
  <Lede /> -->

  <!-- <Skewgallery /> -->
  <!-- <ul>
    {headings.map((heading) => <li><a href={`#${heading.slug}`}>{heading.text}</a></li>)}
  </ul> -->
  <!-- <Content /> -->

    <article class="bike-summary m-bottom-4">
      <h2>{bike.data.name}</h2>
      {bike.data.cover && (
        <figure class="bike-cover">
          <img
            src={bike.data.cover.src}
            alt={`${bike.data.name} cover`}
            width={bike.data.cover.width}
            height={bike.data.cover.height}
          />
        </figure>
        <ul>
          {headings.map((h) => <li>
            <a href={`#${h.slug}`}>{h.text}</a>
          </li>)}
        </ul>
        <Content />
      )}
    </article>


  <!-- bikes -->
  <!-- about -->
</MainPageWrapper>
